<?xml version='1.0' encoding='utf-8'?>

<Server>

  <Service>
    <Connector port="8080" />
    <Engine>
        <Host name="localhost"  appBase="H:\study_code\tomcat\webapps">
            <Context docBase="H:\study_code\tomcat\webapps\demo1" path="/demo1"/>
      </Host>
    </Engine>
  </Service>
</Server>
